body{
    background-color:  #fdfdfde3;
}

h1{
    display:block;
    padding: 0px 0px;
    color: black;
    font-family:"Lucida Calligraphy";
    text-decoration:none;
    text-align: center;
}    

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 0;

    background-color: rgba(41, 115, 212, 0.658);
    padding: 5px 5px;
}

footer div.copy{
    color: rgb(250, 250, 250);
}

footer div.copy p{
    padding: 0px 0px;
    font-size: 20px;
    
}

footer div.redes a{
    padding: 0px 0px;
    font-size: 20px;

}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #0ad8f3f6;
}
.navegacion ul{
    list-style: none;
    text-align: center;
}
.menu > li{
    position: relative; 
    display: inline-block;
}
.menu > li > a{
    display:block;
    padding:10px 20px;
    color: black;
    font-family:"Lucida Calligraphy";
    text-decoration:none;

}
.menu li a:hover{
    color:rgb(246, 250, 249);
    transition: all .3s;
}
.M{
	color: rgb(0, 255, 34);
}

.I{
	color: rgb(255, 0, 106);
}

.P{
	color: rgb(8, 65, 16);
}

.A{
	color: rgb(255, 0, 34);
}

.S{
	color: rgb(119, 9, 9);
}

.T{
	color: rgb(6, 126, 26);
}
.E{
	color: rgb(6, 42, 88);
}

.L{
	color: rgb(207, 20, 20);
}

.E{
	color: #000;
}

.R{
	color: rgb(251, 255, 0);
}

.I{
	color: rgb(190, 20, 100);
}

.A{
	color: fuchsia;
}
.social-bar{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .3s;
}

/* Galereria */

.portafolio{
    background: #95dde7b6;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}

.imagen-port >img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;

}

.hover-galeria{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
    transform: scale(0 );  
   background: rgba(73, 203, 212, 0.26);
   transition: transform .5s;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.hover-galeria img{
   width: 50px;
}

.hover-galeria p{
   color: #000000;
}

.imagen-port:hover .hover-galeria{
   transform: scale(1);
}
.titulo{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}